/* .chats{
      max-width: 700px;
      overflow-y: scroll;
      padding: 8rem;

} */
 .chats {
  max-width: 700px;
  max-height: 80vh;  
  overflow-y: auto;
  padding: 1rem;     
  margin: 0 auto;    
}
.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;


}
.userMessage{
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;

}
.gptDiv{
    text-align: left;
    font-size: 0.9rem;

}
.hljs{
    border-radius: 14px !important;
}

pre{
    white-space: pre-wrap;
}